<p style="text-align:center"><img alt="" src="https://res.cloudinary.com/fritri-app/image/upload/v1656880859/fritri-app/logo_cfnx9g.png" /></p>

<hr />
<p>Hola <strong>{{resetPassword.nombreCompleto}}</strong>,</p>

<p>Recibimos una solicitud para cambiar el password de su cuenta en la aplicaci&oacute;n FriTri.</p>

<p>Esta es su clave temporal: <strong>{{resetPassword.contrasenaTemporal}}</strong></p>

<p>Por favor ingrese a la aplicaci&oacute;n y digite su correo electr&oacute;nico y la anterior clave temporal, para poder cambiar su contrase&ntilde;a.</p>

<p>Saludos cordiales,</p>

<p>El Equipo de FriTri</p>

<p>&nbsp;</p>

<hr />
<p style="text-align:center">Problemas o preguntas?</p>

<p style="text-align:center">Nos puede escribir a&nbsp;<a href="mailto:soporte@fritri-app.com">soporte@fritri-app.com</a></p>